* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* *:hover {
  color: inherit !important;
} */
Buttoni {
  width: 30vw !important
}

.centermodal {
  display: flex;
  justify-content: center;
}
.Lower{padding-right: 1vw; padding-top: calc(15px - 1vw)}
.buttonmodal {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  padding-left: 5vw;
  padding-bottom: 1vw;
  width: 80vw !important;
  background: red;

  /* padding-bottom: 15px; */
}

.hoverblocker {
  color: black;
  padding: 0vw 5vw
}

.bottomstripe {
  padding: 15px 0px 0px 1vw !important;
  height: 50px;
  width: 81vw;
  color: white
}



body.modal-open {
  position: fixed !important;
  border: 10px green solid
}

.modal-wrapper-none {
  display: none
}

.modal-img {
  object-fit: scale-down;
  padding: -6vw 0vw 0vw 0vw;
  width: 100%
}

.middle {
display: flex;
justify-content: center;
  width: 80vw;
  padding-top: 5vw!important;
}

.subtitle {
  font-family: "PT serif";
  font-style: italic;
  font-weight: 400;
  color: #464E51;
}


.modal-body {
  background: rgba(242, 239, 239, 0.6);
  /* border-top: 80px red solid; */
  top: -5vw;
  width: 80vw
}

.close-modal-btn {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding: 1px 2px 2px 4px;
  cursor: pointer;
  background: none;
}

.W {
  color: white;
}

.F {
  font-weight: 800;
}

.XL {
  font-size: 2rem;
}

.L {
  font-size: 1.5rem;
}

.M {
  font-size: 1rem;
}

.S {
  font-size: 0.75rem;
}

.BGY {
  background: lightgray;
  width: fit-content;
  margin: 0 auto;
}

.test {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: -05vh;
  width: 100%;
  height: 1000%;
  padding: 15vh 5vh 5vh 5vh;
  z-index: 100
}

.modal-body {
  margin-bottom: 1rem;
}

.modal-body p {
  font-size: 0.75rem;
  background: #eee;
  color: #333;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
}

.mimodal:active {
  border-style: none;
  border: 0px;
  outline: none
}

.mimodal:focus {
  border-style: none;
  border: 0px;
  outline: none
}



.scroll {
  height: calc(85vh - 100px) !important;
}

.mimodalinfo {
  background: white !important;
  margin: 5vw 10vw !important
}

.mimodal {
  z-index: 200;
  background: rgba(242, 239, 239, 0.9);
  height: 80vh !important;
  width: 85vw;
  border: 0px solid;
  border-style: none;
  border-radius: 0.3vw;
  overflow-y: auto;
  padding: 5vw 5vw 0vw 5vw;
  margin: 10vw;
  width: 80vw;
}