@import url(https://fonts.googleapis.com/css?family=Lato:700);

.ribbon {
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 7.5px solid DARKRED;
}

.ribbonred::before,
.ribbonred::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 7.5px solid darkred;
}

/* .ribbontext{
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  background: red!important;
  margin: 0 auto;
  color: lime
} */
.ribbon span {

  position: absolute;
  display: block;
  width: 190px;
  padding: 5px 0;
  background-color: RED;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-align: center !important;
}

.ribbonred span {

  position: absolute;
  display: block;
  width: 190px;
  padding: 5px 0;
  background-color: red;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-align: center !important;
}

/* top left*/
.ribbon-top-left {
  top: -15px;
  left: -15px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-top-left::before {
  top: 0;
  right: 0;
}

.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}

.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}

.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}

.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);

}

.plaatsweg {
  visibility: hidden !important;
}